// Import Materialize color variables
@import 'materialize-css/sass/components/color-variables';

$primary-color: color("blue-grey", "darken-4") !default;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 5%);
$primary-color: color("blue-grey", "darken-4") !default;
$primary-color-light: lighten($primary-color, 15%) !default; // Lighter shade of primary
$primary-color-dark: darken($primary-color, 5%) !default; // Slightly darker shade of primary
$secondary-color: color("teal", "lighten-1") !default; // Vibrant contrast to primary
$success-color: color("green", "base") !default; // Standard success color
$error-color: color("red", "base") !default; // Standard error color
$link-color: color("light-blue", "darken-1") !default; // Contrasting light blue for links


// Import Materialize
@import 'materialize-css/sass/materialize';


@media #{$small-and-down} {
    // styles for small screens and down
}
@media #{$medium-and-up} {
// styles for medium screens and larger
}
@media #{$medium-and-down} {
// styles for medium screens and down
}
@media #{$large-and-up} {
// styles for large screens and up
}
@media #{$extra-large-and-up} {
// styles for extra large screens and up
}




